.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
    max-width: 1000px;
}

.h1 {
    font-size: 2.5rem;
    color: var(--blue);
    text-align: center;
}

.lead {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    text-align: center;
}

.h3 {
    font-size: 1.75rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: var(--blue);
    text-align: center;
}

.skills-wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.skills-wrapper img {
    width: 70%;
    height: 70%;
    max-width: 500px;
    user-select: none;
}


.skills-wrapper .skills {
    text-align: center;
}

.skills-wrapper .skills .font-skills {
    width: 100px;
    height: 50px;
    margin: 10px;
    color: var(--blue);
    cursor: pointer;
}

.skills-wrapper .skills .font-skills:hover {
    animation: move-up 0.2s ease forwards;
}

p {
    margin-top: 1.8rem;
    text-align: center;
}

@keyframes move-up {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -2px);
    }
}

@media (max-width: 880px) {

    .container {
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .skills-wrapper img {
        width: 100%;
    }
}