.contact-details {
    width: 100%;
    padding: 8rem 0;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.fill-details {
    padding: 3rem;
    background: linear-gradient(35deg, #f4f5f7, #f4f4f7) !important;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
    margin: 2rem;
    border: 0.0625rem solid rgba(0, 0, 0, .05);
    border-radius: 0.25rem;
}

.fill-details h1 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
}

.fill-details p {
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.2rem;
    text-align: start;
    margin: 10px 0;
}

input {
    margin: 5px 0;
    width: 100%;
    padding: 0.625rem 2.35rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    font-family: inherit;
    border: 0;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #cad1d7; */
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

textarea {
    font-family: inherit;
    margin: 5px 0;
    width: 100%;
    padding: 0.625rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    resize: vertical;
    overflow: auto;
}

.input {
    position: relative;
}

.input svg {
    position: absolute;
    top: 14px;
    left: 6px;
    z-index: 1;
    color: #8898aa;
    width: 20px;
}

.input {
    display: flex;
}

.submit-btn {
    width: 100%;
    text-transform: uppercase;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;
    padding: 0.875rem 1rem;
    line-height: 1.5;
    margin-top: 9px;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #172b4d;
    border-color: #172b4d;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.submit-btn:hover {
    background: #212529;
}

.pop-up {
    text-align: center;
}

.pop-up h6 {
    position: absolute;
    display: inline-block;
    top: 110px;
    transform: translate(-50%,-50%);
    padding: 4px;
    border-radius: 3px;
    z-index: 100;
    font-size: 1rem;
    background: var(--green);
    color: var(--white);
}